# Scraping Data from TATA IPL Auction 2023 üèÜ

### Import Libraries

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

#### Getting Url

In [2]:
url = 'https://www.iplt20.com/auction'
r = requests.get(url)

print(r)

<Response [200]>

#### BeautifulSoup

In [3]:
soup = BeautifulSoup(r.content , 'html.parser')

# print(soup.prettify())

#### Reading tabel | Header etc..

In [49]:

table = soup.find('table' , class_='ih-td-tab auction-tbl')

header = table.find_all('th' , class_='skip-filter')

Titles =[i.text for i in header]

df = pd.DataFrame(columns=Titles)

#### Finding each rows from table row tr
rows =  tabel.find_all('tr')

for i in rows[1:]:
    first_td = i.find_all('td')[0].find('div' , class_='ih-pt-ic').text.strip() # to remove \n
    data = i.find_all('td')[1:]
    each_row_data = [tr.text for tr in data]
    each_row_data.insert(0,first_td)
    l = len(df)
    df.loc[l] = each_row_data
    
    
df

                          TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0          Chennai Super Kings    ‚Çπ1,50,00,000                 8            25
1               Delhi Capitals    ‚Çπ4,45,00,000                 8            25
2               Gujarat Titans    ‚Çπ4,45,00,000                 8            25
3        Kolkata Knight Riders    ‚Çπ1,65,00,000                 8            22
4         Lucknow Super Giants    ‚Çπ3,55,00,000                 8            25
5               Mumbai Indians       ‚Çπ5,00,000                 8            24
6                 Punjab Kings   ‚Çπ12,20,00,000                 7            22
7             Rajasthan Royals    ‚Çπ3,35,00,000                 8            25
8  Royal Challengers Bangalore    ‚Çπ1,75,00,000                 8            25
9          Sunrisers Hyderabad    ‚Çπ6,55,00,000                 8            25

#### saving as csv

In [51]:
df.to_csv('TATA_IPL_Auction_2023.csv')

#### Downloading as PDF

In [57]:
!jupyter nbconvert --to webpdf --allow-chromium-download IPL_Auction.ipynb

[NbConvertApp] Converting notebook IPL_Auction.ipynb to webpdf
[NbConvertApp] Building PDF
[NbConvertApp] PDF successfully created
[NbConvertApp] Writing 218881 bytes to IPL_Auction.pdf

#### <------------------ END----------------------->